[user]
	email = aead@mail.de
	name = Andreas Auernhammer
[http]
	cookiefile = /home/andreas/.gitcookies
[alias]
    co = checkout
    sd = !git diff --stat $(git merge-base HEAD master)
    s  = status -s

    l    = log --pretty=format:"%C(green)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    find = log --pretty=\"format:%Cgreen%H\n%s\n\n%b\" --name-status --grep

    c     = commit
	amend = commit --amend --no-edit
	delete = branch -D
	
[core]
    editor = 'vim'
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[pull]
	rebase = true
