[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/latex-preview.vim"]
	path = .vim/bundle/latex-preview.vim
	url = git@github.com:xuhdev/vim-latex-live-preview.git
[submodule ".vim/pack/vendor/start/vimcompletesme"]
	path = .vim/pack/vendor/start/vimcompletesme
	url = git@github.com:ajh17/VimCompletesMe.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim/bundle/racer.vim"]
	path = .vim/bundle/racer.vim
	url = https://github.com/racer-rust/vim-racer.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
