[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/fugitive.vim"]
	path = .vim/bundle/fugitive.vim
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/airline.vim"]
	path = .vim/bundle/airline.vim
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/bundle/airline-themes.vim"]
	path = .vim/bundle/airline-themes.vim
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/latex-preview.vim"]
	path = .vim/bundle/latex-preview.vim
	url = git@github.com:xuhdev/vim-latex-live-preview.git
[submodule ".vim/pack/vendor/start/vimcompletesme"]
	path = .vim/pack/vendor/start/vimcompletesme
	url = git@github.com:ajh17/VimCompletesMe.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
